<div class="person-list-container">
  <div class="header">
    <h2>Gestión de Personas</h2>
    <button class="btn-primary" routerLink="./new">Nueva Persona</button>
  </div>

  <app-search (search)="onSearch($event)"></app-search>

  <div class="table-responsive" *ngIf="!loading; else loadingTemplate">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Fecha de Nacimiento</th>
        <th>Fecha de Creación</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.personId }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.identityCard }}</td>
        <td>{{ person.birthDate | date:'dd/MM/yyyy' }}</td>
        <td>{{ person.auditCreateDate | date:'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn-edit" [routerLink]="['./', person.personId]">Editar</button>
          <button class="btn-delete" (click)="deletePerson(person.personId)">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loadingTemplate>
    <div class="loading">Cargando personas...</div>
  </ng-template>

  <app-pagination
    [totalItems]="totalItems"
    [pageSize]="filters.pageSize || 10"
    [currentPage]="filters.pageNum || 1"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
